<!DOCTYPE html>
<html>
	<head>
		<title> {{ title }} </title>
		{{> header }}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row-fluid">
				{{> sidebar }}
				<div class="span8">
					{{> errormsg }}
					<form class="form-horizontal" action="/addteam" method="post">
						<fieldset>
							<legend>
								Create New Team
							</legend>
							<div class="control-group">
								<label class="control-label" for="team-name">Team Name</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="team-name" name="teamName">
									<p class="help-block">
										Be sure to include the letter if you have multiple teams, e.g. LASA B
									</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="tournament">Tournament</label>
								<div class="controls">
									<select class="input-xlarge" name="tournament">
										{{#if tournaments}}
											{{#each tournaments}}
												<option value="{{ _id }}">
													{{ tourName }}
												</option>
											{{/each}}
										{{/if}}
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for ="team-roster">Team Roster</label>
								
								<div class="controls" id="team-roster">
									<p id="player-block-0" class="player-block">
										<input type="text" id="first-name-0" name="first-name-0" placeholder="First name">
										<input type="text" id="last-name-0" name="last-name-0" placeholder="Last name">
										<i class="icon-minus-sign" id="delete-player-0"></i>
									</p>
									<i class="icon-plus-sign" id="add-player-to-roster"></i>
								</div>
							</div>
							<input type="hidden" id="num-players" name="num-players" value="1">
							<div class="form-actions">
            					<button type="submit" class="btn btn-primary">Save changes</button>
            					<button class="btn">Cancel</button>
          					</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>