<% if (!und.isUndefined(locals.state) && state != '' && !und.isUndefined(locals.message) && message != '') {
	if (state == 'error') { %>
		<div class="alert alert-error">
			<%= message %>
		</div>
<%  }
else { %>
	<div class="alert alert-success">
		<%= message %>
	</div>
<% }
} %>