<!DOCTYPE html>
<html>
  <head>
    <title>
    	{{ title }}
    </title>
    {{> header}}
  </head>
  <body>
    <div class="container-fluid">
		<div class="row-fluid">
			{{> sidebar }}
			<div class="span8">
				{{> errormsg }}
				<div class="hero-unit">
					<h3>Welcome to QScore</h3>
					<p>QScore is a web-based application for keeping score in quizbowl games. In order to use QScore, please register
						for an account and log in. For details on using QScore, please read the <a href="/faq/">FAQ</a>. </p>
				</div>
			</div>
		</div>
	</div>
  </body>
</html>