<!DOCTYPE html>
<html>
	<head>
		<title> {{ title }} </title>
		{{> header }}
	</head>
	<body>
		<h1> {{ title }} </h1>
		<div class="container-fluid">
			<div class="row-fluid">
				{{> sidebar }}
				<div class="span10">
					{{> errormsg }}
					<form method="post" action="/login" class="form-horizontal">
						<fieldset>
							<legend>
								Login
							</legend>
							<div class="control-group">
								<label class="control-label" for="username">Username</label>
								<div class="controls">
									<input type="text" class="input-xlarge" name="username" id="username">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="password">Password</label>
								<div class="controls">
									<input type="password" class="input-xlarge" name="password" id="password">
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">
									<i class="icon-lock"></i>Login
								</button>
								<button class="btn">
									Cancel
								</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
