
<div class="span2 offset1">
	<ul class="nav nav-list">
    	<li><a href="/"><i class="icon-fixed-width icon-home"></i>Home</a></li>
    	{{#if user}}
    		<li><a href="/alltours"><i class="pull-left icon-fixed-width icon-book"></i>Tournaments</a></li>
    		<li><a href="/profile"><i class="pull-left icon-fixed-width icon-gears"></i>Profile</a></li>
    		<li><a href="/logout"><i class="pull-left icon-fixed-width icon-lock"></i>Logout</a></li>
    	{{else}}
    		<li><a href="/register"><i class="pull-left icon-fixed-width icon-user"></i>Register</a></li>
    		<li><a href="/login"><i class="pull-left icon-fixed-width icon-lock"></i>Login</a></li>
    	{{/if}}
	</ul>
</div>
